[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=Simple Terminal emulator for X
Exec=st -f 'Courier New:size=16' -g '=80x25' -i -e 'screen -dRR -S ergo -t djh987'
Terminal=false
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;