# ~/.config/systemd/user/himalaya-watch.service

[Unit]
Description=Himalaya watcher for skin
After=network.target

[Service]
ExecStart=/home/djha-skin/.local/bin/him -a skin watch
Environment=RUST_LOG=debug
Restart=always
RestartSec=41

[Install]
WantedBy=default.target