[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/dhaskin/.nix-profile/bin/onedrivegui
GenericName[en_US]=One Drive GUI
GenericName=One Drive GUI
Icon=/home/skin/.local/share/icons/OneDriveGUI.png
MimeType=
Name[en_US]=OneDriveGUI
Name=OneDriveGUI
Path=/home/skin/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
